#Title {
  font-family: sans-serif;
  color: white;
}

#buttons {
  margin: auto;
  padding: 0px;
}

button {
  color: white;
  background-color: 3355ff;
  border-radius: 10px;
  border: none;
  padding: 10px;
  /*background-color: 889CFF;*/
}


button:hover {
  color: white;
  background-color: 002BFF;
  outline-style: transparent;
  outline-color: transparent;
  box-shadow: 0 0 0 1px blue;
  transition: 220ms all ease-in-out;
  /*border: 1px solid blue;
  transition: 220ms all ease-in-out;
  box-shadow: 0 0 0 2px;*/
}

#myParagraph {
  font-family: sans-serif;
  font-weight: bold;
}

.photos {
  border: 1px transparent black;
  content-align: center;
  height: 200;
}

.image:hover {
  height: 235px;
  padding:10px;
  transition: 220ms all ease-in-out;
}

.image {
  height: 225px;
  padding: 15px;
}

#photoTable {
margin: auto;
border-collapse: collapse;

}

body {
  font-family: sans-serif;
  background-color: black;
}

div {
  background-color: grey;
  height: 25px;
  width: 100px;
  padding: 11px
}