#Title {
  font-family: sans-serif;
  color: midnightblue;
}

#buttons {
  margin: auto;
  padding: 0px;
}

button {
  color: midnightblue;
  background-color: 889CFF;
  background-image: url("");
}

button:hover {
  color: white;
  background-color: 3355FF;
}

#myParagraph {
  font-family: sans-serif;
  font-weight: bold;
}

.photos {
  border: 1px solid black;
  content-align: center;
  height: 200;
}

.image {
  height: 200px;
}