#Title {
  font-family: sans-serif;
  color: midnightblue;
}

#buttons {
  margin: auto;
  padding: 0px;
}

button {
  color: white;
  background-color: 3355ff;
  border-radius: 6px;
  border: none;
  /*background-color: 889CFF;*/
}


button:hover {
  color: white;
  background-color: 002BFF;
}

#myParagraph {
  font-family: sans-serif;
  font-weight: bold;
}

.photos {
  border: 1px transparent black;
  content-align: center;
  height: 200;
}

.image {
  height: 200px;
}

#photoTable {
margin: auto;
border-collapse: collapse;

}